exportPattern("^[[:alpha:]]+")
importFrom(stats, runif, cor)
importFrom(psych, KMO, cortest.bartlett)
importFrom(matrixcalc, frobenius.norm)
importFrom(MASS, mvrnorm)
importFrom(crch, rcnorm, rct, rclogis)
importFrom(stats, cov, quantile)
export(CFM)
export(censored_factor_models)
export(FanPC.CFM)
export(PC2.CFM)
export(PPC2.CFM)
