exportPattern("^[[:alpha:]]+")

export(CFM)
export(FanPC.CFM)
export(PC2.CFM)
export(PPC2.CFM)
export(censored_factor_model)
export(censored_factor_models)
export(censored_kernel_factor_model)
export(incremental_censored_factor_model)
export(weighted_censored_factor_model)

importFrom(MASS,mvrnorm)
importFrom(Matrix,Matrix)
importFrom(RSpectra,eigs_sym)
importFrom(crch,rclogis)
importFrom(crch,rcnorm)
importFrom(crch,rct)
importFrom(kernlab,rbfdot)
importFrom(matrixcalc,frobenius.norm)
importFrom(mvtnorm,dmvnorm)
importFrom(pracma,randortho)
importFrom(psych,KMO)
importFrom(psych,cortest.bartlett)
importFrom(robustbase,covMcd)
importFrom(stats,cor)
importFrom(stats,cov)
importFrom(stats,cov2cor)
importFrom(stats,dist)
importFrom(stats,prcomp)
importFrom(stats,quantile)
importFrom(stats,runif)
importFrom(truncnorm,etruncnorm)
importFrom(truncnorm,rtruncnorm)
